{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/prop-types": [
      2, {
        "ignore": [
          "children",
          "props",
          "location",
          "match"
        ]
      }
    ]
  }
}